/* BANNER/NAVBAR */
html {
  font-family: themeFont;
  scroll-behavior: smooth;
}

.quest img {
  width: 20vw;
  height: 20vw;
  margin-top: 10vw;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  opacity: 1;
}

#text {
  color: #fff;
  text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
  font-size: 7vw;
  margin-top: 0;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  opacity: 1;
}


body {
  background-color: #0c0524;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
}


.homebanner {
  background-color: #0c0524;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding-top: 25vh;
  border: 0;
  position: fixed;
}

#banner img{
  width: 20vw;
  height: 20vw;
  margin-top: 10vw;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
}

h3 {
  z-index: 1000000;
  color: white;
}

a {
  color: white;
  font-size: inherit;
}